<% include partials/header.ejs %>

<main class="aboutme">
    
<img src="../images/IMG_0148.JPG" alt="..." class="img-circle">
<div class="jumbotron">
  <h1>About, ME!</h1>
  <p><p>I am Shweta. I concept and design interactive web pages to create visual art in web. I love designing and believes in leading Innovation. Apart from web designing and programming I like to read Novels and cooking.</p>

<p>I am based in Gujrat,India and currently being a learner at Georgian College,Barrie,Ontario</p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

</main> 
<% include partials/footer.ejs %>