<% include partials/header.ejs %>

    <!-- Main Content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>
            Welcome to
            <%= title %>
        </p>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message</label>
                <textarea class="form-control" id="Message" placeholder="Message"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="container margin-top">
        <i class="fa fa-facebook-official fa-lg"></i>
        <i class="fa fa-linkedin fa-lg"></i>
        </div>
    </main>
    <% include partials/footer.ejs %>