<% include partials/header.ejs %>

    <main class="projects">
        <div class="container margin-top">
            <div class="col-md-4">
                <a href="http://gc200328309.computerstudi.es/nintendo/homepage.html"><img src="../images/unnamed.png" class="img-thumbnail" /></a>
                <p class="text-primary font-size">NINTENDO - Static Website</p>
                <p class="text-primary font-medium">A Static website about retro gaming consoles</p>
            </div>
            <div class="col-md-4">
                <img src="../images/screen-fordevelopers2.jpg" class="img-thumbnail" />
                 <p class="text-primary font-size">Content Management System</p>
                 <p class="text-primary font-medium">maintaining Content from an interface </p>
            </div>
            <div class="col-md-4">
                <img src="../images/ecommerce.png" class="img-thumbnail" />
                 <p class="text-primary font-size">E-Commerce</p>
                 <p class="text-primary font-medium">SEO,Social Reach,Customer Support,Marketting</p>
            </div>
        </div>
    </main>
    <% include partials/footer.ejs %>